{% extends "template_base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<script src="{% static 'js/cards.js' %}" defer></script>
<script src="{% static 'js/carousel.js' %}" defer></script>
{% endblock %}

{% block content %}
<section class="home">
    {% include "componentes/nav.html" %}
    <div class="main-content" >
        <div class="welcome">
            <h2>Tu lugar de <i>CONTACTOS</i></h2>
            <div class="carousel fixed-height" id="heroCarousel">
                <div class="carousel-track">
                    <div class="carousel-slide">
                        <img src="{% static 'img/img/banner_herramientas_1.jpeg' %}" alt="Banner 1">
                    </div>
                    <div class="carousel-slide">
                        <img src="{% static 'img/img/banner_herramientas_2.jpeg' %}" alt="Banner 2">
                    </div>
                    <div class="carousel-slide">
                        <img src="{% static 'img/img/banner_herramientas_3.jpeg' %}" alt="Banner 3">
                    </div>
                </div>

                <button class="carousel-button prev" aria-label="Anterior">&#10094;</button>
                <button class="carousel-button next" aria-label="Siguiente">&#10095;</button>
            </div>
        </div>
        
        <div class="mini-navbar">
            <div class="busqueda">
                <form action="" method="post">
                    {% csrf_token %}
                    <img src="{% static 'img/buscar.png' %}" alt="Buscar" width="30px" height="30px">
                    <div class="nombre">
                        <input name="producto" id="producto" type="text" placeholder=" " required>
                        <label for="producto">Producto</label>
                    </div>
                </form>
            </div>
            <ul>
                <li class="dropdown">
                    <a href="#" class="drop">Productos</a>
                    <div class="dropdown-content">
                        {% if categorias %}
                            <a href="#" data-cat-id="0">Todos</a>
                            {% for categoria in categorias %}
                                <a href="#" data-cat-id="{{ categoria.id_categoria_PK }}">{{ categoria.descripcion }}</a>
                            {% endfor %}
                        {% else %}
                            <a href="#">No hay categoria de productos</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <!-- Incluye el componente carrito para verlo en el home principal -->
            {% include "componentes/carrito.html" %}
        </div>

        <div class="cards">
            {% for producto in productos_list %}
            <div class="card" id="producto-{{ producto.id_producto_PK }}" {% if producto.cantidad == 0 %} style="background-color: #fffc5e;" {% endif %}>
                <div class="imagen-card imagen">
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="Producto {{ producto.id_producto_PK }}">
                    {% else %}
                        <img src="{% static 'img/home/no-image.svg' %}" alt="">
                    {% endif %}
                </div>
                <div class="contenido">
                    <h2 class="nombre">{{ producto.nombre }}</h2>
                    <p class="descripcion">{{ producto.descripcion }}</p>
                    <p class="precio">Precio: ${{ producto.precio }}</p>
                    <p class="cantidad">Cantidad: {{ producto.cantidad }}</p>

                    <button
                        class="btn-agregar-carrito"
                        
                        data-id="{{ producto.id_producto_PK }}"
                        data-nombre="{{ producto.nombre }}"
                        data-descripcion="{{ producto.descripcion }}"
                        data-imagen="
                        {% if producto.imagen %}
                            {{ producto.imagen.url }}
                        {% else %}
                            {% static 'img/home/sin_imagen.png' %}
                        {% endif %}"
                        data-precio="{{ producto.precio }}"
                        data-status="{{ producto.status }}"
                    >
                        <div class="acciones">
                            <span>Agregar al carrito</span>
                            <img src="{% static 'img/home/compraCarrito.png' %}" alt="Agregar al carrito de compras" width="30px" height="30px">
                        </div>
                    </button>
                </div>
            </div>
            {% endfor %}
            <div class="background" id="background_main"></div>
            <div class="card-modal">
                <!-- Aqui se agrega el modal de la visualizacion de cada card -->
            </div>
        </div>
    </div>
</section>
{% include "componentes/footer.html" %}
{% endblock %}