{% extends "template_base.html" %}
{% load static %}

{% block title %}Pedido #{{ pedido.id_pedido_PK }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles_proveedores.css' %}">
<link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
<link rel="stylesheet" href="{% static 'css/styles_buttons.css' %}">
{% endblock %}

{% block content %}
<section class="proveedores">
  <div class="container">
    <h1 class="titulo">Pedido #{{ pedido.id_pedido_PK }}</h1>
  </div>

  <div class="tabla-responsive">
    <div class="tabla sin-acciones tabla-detalle-pedido">
      <div class="thead" style="grid-template-columns: repeat(5, 1fr);">
        <b>Para</b>
        <b>Usuario</b>
        <b>Metodo pago</b>
        <b>Tipo entrega</b>
        <b>Total</b>
      </div>
      <div class="tbody">
        <div class="fila-proveedor" style="grid-template-columns: repeat(5, 1fr);">
          <p class="direccion">{{ pedido.quien }}</p>
          <p class="nombre">{{ pedido.usuario }}</p>
          <p class="telefono">{{ pedido.metodo_pago }}</p>
          <p class="correo">{{ pedido.tipo_entrega }}</p>
          <p class="id">{{ pedido.total }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container tabla-items-container">
    <div class="tabla-responsive">
      <div class="tabla sin-acciones tabla-items">
        <div class="thead" style="grid-template-columns: repeat(4, 1fr);">
          <b>Producto</b>
          <b>Cantidad</b>
          <b>Precio unitario</b>
          <b>Subtotal</b>
        </div>
        <div class="tbody">
          {% for item in pedido.items.all %}
          <div class="fila-proveedor" style="grid-template-columns: repeat(4, 1fr);">
            <p class="nombre">{{ item.producto }}</p>
            <p class="direccion">{{ item.cantidad }}</p>
            <p class="telefono">{{ item.precio_unitario }}</p>
            <p class="correo">{{ item.subtotal }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div style="margin:1rem 2rem; text-align:center;">
    <a href="{% url 'pedidos:consultar_mis_pedidos' %}" class="btn-nav" style="text-decoration: none;">
      ← Volver a Mis Pedidos
    </a>
  </div>

</section>
{% endblock %}
