{% load static %}
<div class="carrito-compras">
    <img src="{% static 'img/carritoBlanco.png' %}" alt="Carrito de compas" id="imagen-carrito" width="30px" height="30px">
    <span class="contador-carrito" id="contador_carrito">0</span>

    <div class="modal-carrito">
        <!-- <h2>Carrito de Compras</h2> -->
        <div class="productos_carrito" id="productos_carrito">

            {% if not productos_carrito %}
                <span class="sin_productos">No tienes productos por comprar</span>
            {% endif %}
        </div>
        <!-- <div class="total-carrito">
            <span id="total_carrito">Total: 0.00$</span>
        </div>
        <div class="btns-carrito">
            <button class="btn-carrito btn-cancelar" id="btn_limpiar_carrito" onclick="limpiarCarrito();">Limpiar</button>
            <button class="btn-carrito btn-comprar" id="btn_comprar_carrito">Comprar</button>
        </div> -->
    </div>
</div>