{% load static %}
<div class="carrito-compras">
    <img src="{% static 'img/carritoBlanco.png' %}" alt="Carrito de compas" id="imagen-carrito" width="30px" height="30px">
    <span class="contador-carrito" id="contador_carrito">0</span>

    <div class="modal-carrito">
        <img src="{% static 'img/home/exit.svg' %}" alt="Salir" id="cerrar_carrito">
        <div class="contenido_carrito" id="contenido_carrito">
            
            <div class="scroll_carrito">
                <div class="productos_carrito">
                    {% for producto in productos_carrito %}
                        <h2>{{ producto }}</h2>
                    {% endfor %}
                </div>

                <!-- <div class="acciones_carrito">

                </div> -->

            </div>

            {% if not productos_carrito %}
                <div class="sin_productos">
                    <img src="{% static 'img/carritoBlanco.png' %}" alt="">
                    <span>Tu carro está vacío</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>