{% load static %}
<div class="barra_nav">
    <nav class="nav-bar">
        <ul>
            <!-- <li><p>Bienvenido <i>{{ user }}</i></p></li> -->
            <li class="redes">
                <a href="https://www.facebook.com/" class="redes-link">
                    <img src="{% static 'img/redes/facebook_whithe.png' %}" class="redes-img" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/" class="redes-link">
                    <img src="{% static 'img/redes/instagram_whithe.png' %}" class="redes-img" alt="Instagram">
                </a>
                <a href="https://www.twitter.com/" class="redes-link">
                    <img src="{% static 'img/redes/twitter_black.png' %}" class="redes-img" alt="Twitter">
                </a>
                </form>

            </li>
        </ul>
    </nav>
</div>