{% extends "template_base.html" %}
{% load static %}

{% block title %}Establecer nueva contraseña{% endblock %}

{% block css %}
<style>
  .password-reset-container {
    max-width: 430px;
    margin: 52px auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.22);
    padding: 36px 32px 28px 32px;
    text-align: center;
  }
  .password-reset-container h2 {
    color: #1b4ea5;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  .password-reset-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items:center;
  }
  .password-reset-container input[type="password"] {
    padding: 10px 10px;
    margin: 10px 0 5px 0;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #adc6e3;
    background-color: #f5fafd;
    outline: none;
    width: 100%;
    margin-bottom: 7px;
  }
  .password-reset-container input[type="password"]:focus {
    border-color: #1473e6;
    box-shadow: 0 0 6px #1473e65b;
  }
  .password-reset-container button {
    background-color: #1b4ea5;
    color: #fff;
    font-weight: bold;
    font-size: 1.14rem;
    padding: 13px 0;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
    margin-top: 9px;
    transition: background 0.25s;
  }
  .password-reset-container button:hover {
    background-color: #144885;
  }
  .errorlist {
    color: #cd2323;
    font-size: 14px;
    margin: 4px 0 0 0;
    list-style: none;
    padding-left: 0;
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="password-reset-container">
  <h2>Establecer Nueva Contraseña</h2>
  <form method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar nueva contraseña</button>
  </form>
</div>
{% endblock %}