:root {
    --fondos: #1c2833;
    --secciones: #273746;
    --elementos_primarios: #34495e;
    --elementos_secundarios: #5d6d7e;
    --texto_principal: #ecf0f1;
    --detalles_hover: #2980b9;
}

.proveedores{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    background-color: var(--fondos);
}

h1,h2{
    color: var(--texto_principal);
}

/* Tabla */
.tabla {
    display: grid;
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    margin: 2rem;
    background-color: var(--secciones);
    border-radius: .5rem;
    border: solid 1px #ddd;
    overflow: hidden;
    overflow-x: auto;

    .thead{
    display: contents;
    background-color: #f2f2f2;
    font-weight: bold;
        b{
            padding: 5px 10px;
            text-align: center;
            color: var(--texto_principal);
            border-bottom: 1.5px solid var(--elementos_primarios);
        }
    }
    .tbody {
        display: contents;
        background-color: #ffffff;
        p{
            padding: 5px 10px;
            text-align: center;
            margin: .25rem 0;
            color: var(--texto_principal);
        }
    }
}

.tbody .acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* formulario */

.formulario {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-39%, -50%);
    background-color: var(--secciones);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: all ease .3s;
}
.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
form h2{
    font-size: 20px;
    margin-bottom: 10px;
}
form div{
    position: relative;
}
form input{
    border: 1px solid #b1b1b1;
    background-color: var(--elementos_secundarios);
    width: 85%;
    padding: 9px;
    border-radius: 5px;
}
form label{
    color: var(--texto_principal);
    cursor:auto;
    font-size: 15px;
    position: absolute;
    left: 5%;
    top: 10px;
    border-radius: 1rem;
    transition: all ease .2s;
}
form input:focus + label{
    background-color: var(--elementos_secundarios);
    font-size: 13px;
    top: -9px;
    padding: 2px;
    border-radius: 5px, 0;
}
form input:not(:placeholder-shown) + label{
    background-color: var(--elementos_secundarios);
    font-size: 13px;
    top: -9px;
    padding: 2px;
    border-radius: 5px, 0;
}

#formulario_agregar,
#formulario_editar{
    width: 240px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#formulario_eliminar{
    width: 240px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    h2, p{
        text-align: center;
    }
}

#formulario_agregar.activate,
#formulario_editar.activate,
#formulario_eliminar.activate {
    opacity: 1;
    visibility: visible;
}

.alert{
    position: fixed;
    top: 2.3rem;
    right: 2rem;
    background-color: #4CAF50; /* Green */
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    z-index: 4;
    transition: opacity 0.3s ease-in-out;
}