{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles_base.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_buttons.css' %}">
        {% block css %} {% endblock %}
        {% block js %} {% endblock %}
        <script src="{% static 'js/menu.js'%}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <ul class="abrir_menu">
            <li class="barras"></li>
            <li class="barras"></li>
            <li class="barras"></li>
        </ul>
        <nav class="nav">
            <ul class="lista">
                <li class="elementos_lista"><a href="#" class="ancla">{% block li1 %} {% endblock %}</a></li>
                <li class="elementos_lista"><a href="#" class="ancla">{% block li2 %} {% endblock %}</a></li>
                <li class="elementos_lista"><a href="#" class="ancla">{% block li3 %} {% endblock %}</a></li>
                <li class="elementos_lista"><a href="#" class="ancla">{% block li4 %} {% endblock %}</a></li>
                <li class="elementos_lista"><a href="#" class="ancla">{% block li5 %} {% endblock %}</a></li>

            </ul>
            <div class="engranaje_cuenta">
                <form method="post" action="{% url 'login_register:logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="redes-link" style="background:none; border:none; cursor:pointer; padding-left: 15px; padding-right: 25px;">
                        <img src="{% static 'img/home/salir3.png' %}" class="redes-img" alt="Salir">
                    </button>
                </form>
                <a href="{% url 'clientes:editar_perfil_cliente' %}" class="cuenta">
                    <img src="{% static 'img/perfil.png'%}" alt="Perfil">
                </a>
            </div>
        </nav>
    </header>
    
    <div class="background" id="background_menu"></div>
    <main class="main">
        <a href="{% url 'home:home' %}" class="logo">
            <img src="{% static 'img/logos/jlara_logo_whithe.png' %}" alt="Logo">
        </a>    
        {% block content %}
        <!-- Contenido principal -->
        {% endblock %}
    </main>
</body>
</html>